@import '../../vars.scss';

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  line-height: 1.4;

  @media (max-width: 1199px) {
    font-size: 1.6rem;
    line-height: 1.35;
  }
  @media (max-width: 479px) {
    font-size: 1.3rem;
    line-height: 1.45;
  }
}

.modalTitle {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;

  @media (max-width: 479px) {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }

  &::after {
    position: relative;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 300px;
    height: 3px;
    border-radius: 50%;
    background-color: $color-accent;

    @media (max-width: 1199px) {
      width: 250px;
    }
    @media (max-width: 767px) {
      width: 200px;
    }
    @media (max-width: 479px) {
      width: 150px;
    }
  }
}

.modalText {
  margin-bottom: 3rem;
  text-align: center;
  white-space: pre-line;

  > a {
    color: $color-accent;

    &:hover {
      text-decoration: underline;
    }
  }

  > strong {
    color: $color-accent;
  }
}

.modalToolingList {
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 1.2rem;
  color: #88adff;
  font-size: 1.5rem;
  letter-spacing: 0.06em;

  @media (max-width: 479px) {
    margin-bottom: 3rem;
    column-gap: 1.3rem;
    font-size: 1.3rem;
  }
}