@import '../../vars.scss';

.portfolio {
  position: relative;
  z-index: 5;
  padding: 80px 0;
  background-color: #0e1018;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation {
  position: relative;
  width: 820px;
  height: 690px;
}

.imac {
  --x: 0;
  --y: 0;
  --d: 20;

  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/imac.png');
  background-size: 820px 650px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.wrapper {
  position: relative;
  top: 7.4%;
  left: 4.2%;
  z-index: -1;
  width: 91.6%;
  height: 56%;
  overflow: hidden;
}

.wrapper2 {
  position: absolute;
  top: 7.4%;
  left: 4.2%;
  z-index: 100;
  width: 91.6%;
  height: 56%;

  &:hover + .wrapper .crypto1 {
    transform: scale(1.05)
      translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
  }
}

.crypto1 {
  position: absolute;
  left: 0.5%;
  top: 1.2%;
  width: 820px;
  border-radius: 2px;
  transform: scale(1.02);
  transition: transform 400ms cubic-bezier(0.23, 0.44, 0.29, 0.9);
}

.iphone {
  position: absolute;
  bottom: 2.2%;
  right: -20%;
  z-index: 0;
  width: 300px;
  height: 500px;
  background-image: url('../../assets/iphone.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.crypto2 {
  position: absolute;
  top: 9.2%;
  left: 50%;
  z-index: -1;
  width: 66%;
  height: 84.7%;
  border-radius: 2px 2px 22px 22px;
  transform: translateX(-50%) rotate(0.3deg);
}

.btn {
  position: relative;
  top: 20%;
  left: -22%;
  display: inline-block;
  color: $color-main;
  padding: 28px;
  border-radius: 50%;

  &__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #fff;
    transform: translate(-50%, -50%);
    transition: transform 0.3s linear;
  }

  &__whiteCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    transition: transform 0.3s ease-in-out;

    svg {
      width: 24px;
      height: 24px;
      margin: auto;
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    z-index: 2;
    padding: 24px 8px;
    transition: 0.3s linear;
  }

  &:hover {
    .btn__circle {
      transform: translate(-50%, -50%) scale(0);
    }

    .btn__whiteCircle {
      transform: translate(-50%, -50%) scale(1);
    }

    .btn__text {
      transform: translate(28px, -50%);
    }
  }
}