@import '../../vars.scss';

.portfolio {
  position: relative;
  z-index: 2;
  padding: 80px 0;
  background-color: #0e1018;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation {
  position: relative;
  width: 820px;
  height: 690px;
}

.imac {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imac.png");
  background-size: 820px 650px;
  background-position: center;
  background-repeat: no-repeat;
}

.crypto1 {
  position: absolute;
  top: 7.4%;
  left: 50%;
  z-index: -1;
  width: 91.7%;
  border-radius: 2px;
  transform: translateX(-50%);
}

.iphone {
  position: absolute;
  bottom: 2.2%;
  right: -20%;
  z-index: 0;
  width: 300px;
  height: 500px;
  background-image: url("../../assets/iphone.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.crypto2 {
  position: absolute;
  top: 9.2%;
  left: 50%;
  z-index: -1;
  width: 66%;
  height: 84.7%;
  border-radius: 2px 2px 22px 22px;
  transform: translateX(-50%) rotate(0.3deg);
}