@import '../../vars.scss';

.portfolio {
  position: relative;
  z-index: 5;
  padding: 9rem 0;
  background-color: #0e1018;
  
  @media (max-width: 1199px) {
    padding: 6rem 0;
  }
  @media (max-width: 980px) {
    padding: 4rem 0;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titlePortfolio {
  display: none;
  @media (max-width: 980px) {
    display: block;
    margin-bottom: 1rem;
  }
}

.presentation {
  position: relative;
  width: 68%;
  max-width: 850px;
  height: 600px;


  @media (max-width: 1376px) {
    height: 560px;
  }
  @media (max-width: 1295px) {
    height: 520px;
  }
  @media (max-width: 1199px) {
    height: 460px;
    width: 300px;
  }
}

.iMac {
  --x: 0;
  --y: 0;
  --d: 20;

  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/imac.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  @media (max-width: 1199px) {
    display: none;
  }
}

.iMacWrapper {
  position: absolute;
  top: 4.3%;
  left: 4%;
  z-index: 10;
  width: 91.6%;
  height: 60%;

  &:hover + .iMacWrapper2 .imageLg {
    transform: scale(1.03)
      translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
  }
}

.iMacWrapper2 {
  position: relative;
  top: 4.3%;
  left: 4%;
  z-index: -1;
  width: 91.7%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.sliderImg {
  position: absolute;
  left: 0.5%;
  top: 1.2%;
  width: 820px;
  border-radius: 2px;
  transform: scale(1.02);
  transition: transform 0.7s cubic-bezier(0.23, 0.44, 0.29, 0.9);
}

.sliderImgPrev {
  display: block;
  transform: translateX(-101%);
}

.sliderImgNext {
  display: block;
  transform: translateX(101%);
}

.iphone {
  position: absolute;
  bottom: 0;
  right: -20%;
  z-index: 0;
  width: 300px;
  height: 500px;
  background-image: url('../../assets/iphone.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 1199px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.iphoneWrapper {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 66%;
  height: 83.5%;
  border-radius: 2px 2px 22px 22px;
  overflow: hidden;
  transform: translateX(-49.8%) rotate(0.35deg);
}

.mobilePhoto {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: transform 0.7s cubic-bezier(0.23, 0.44, 0.29, 0.9);
}

.sliderImgMobilePrev {
  display: block;
  transform: translateX(-100%);
}

.sliderImgMobileNext {
  display: block;
  transform: translateX(100%);
}

.btnContainer {
  position: relative;
  top: 20%;
  left: -24%;
  display: inline-block;
  color: $color-main;
  background-color: transparent;
  padding: 30px;
  border-radius: 50%;
  font-size: 1.7rem;

  @media (max-width: 1500px) {
    left: -25%;
  }
  @media (max-width: 1450px) {
    left: -26%;
  }
  @media (max-width: 1300px) {
    left: -28%;
  }
  @media (max-width: 1199px) {
    left: -70%;
    font-size: 1.5rem;
  }
  @media (max-width: 980px) {
    display: none;
  }

  & .btn__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #fff;
    transform: translate(-50%, -50%);
    transition: transform 0.3s linear;

    @media (max-width: 1199px) {
      width: 50px;
      height: 50px;
    }
  }

  & .btn__whiteCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -111;
    transform: translate(-50%, -50%) scale(0);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    transition: transform 0.3s ease-in-out;

    @media (max-width: 1199px) {
      width: 50px;
      height: 50px;
    }

    svg {
      width: 24px;
      height: 24px;
      margin: auto;

      @media (max-width: 1199px) {
        width: 21px;
        height: 21px;
      }
    }
  }

  & .btn {
    position: absolute;
    top: 50%;
    left: -47%;
    transform: translateY(-50%);
    white-space: nowrap;
    z-index: 2;
    padding: 24px 8px 24px 70px;
    background-color: transparent;
    font-size: inherit;
    transition: 0.3s linear;

    @media (max-width: 1199px) {
    padding: 22px 6px;
    }
  }

  &:hover, &:focus {
    .btn__circle {
      transform: translate(-50%, -50%) scale(0);
    }

    .btn__whiteCircle {
      transform: translate(-50%, -50%) scale(1);
    }

    .btn {
      transform: translate(28px, -50%);
    }
  }
}

.projectList {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 20rem;

  @media (max-width: 1199px) {
    margin-top: 4rem;
    gap: 10rem;
  }
  @media (max-width: 980px) {
    gap: 8rem;
  }
  @media (max-width: 767px) {
    gap: 3rem;
  }
  @media (max-width: 480px) {
    gap: 2rem;
  }
  @media (max-width: 360px) {
    gap: 0.5rem;
  }
}

.projectBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  background-color: transparent;
  font-size: 1.7rem;
  transition: color 250ms cubic-bezier(0.23, 0.44, 0.29, 0.9);

  @media (max-width: 480px) {
    font-size: 1.6rem;
  }
  @media (max-width: 360px) {
    font-size: 1.4rem;
  }

  &:hover {
    color: $color-accent;
  }

  &::after {
    content: "";
    width: 130%;
    height: 0.3rem;
    background-color: $color-accent;
    border-radius: 40%;
    transform: scale(0);
    transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

    @media (max-width: 767px) {
      width: 110%;
    }
  }
}

.activeProject {
  &::after {
    transform: scale(1);
  }
}