@import "../../../vars.scss";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(7px);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.isHidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.isHidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  opacity: 1;
  padding: 2.5rem 4rem;
  color: $color-main;
  background-color: #192130;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media (max-width: 767px) {
    width: 70%;
  }
  @media (max-width: 479px) {
    padding: 2.5rem 2rem;
  }
}

.modalCloseBtn {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.modalCloseIcon {
  height: 100%;
  fill: currentColor;
}
