@import '../../vars.scss';

.about {
  position: relative;
  z-index: 5;
  padding: 10rem 0;
  font-size: 1.8;
  line-height: 1.7;
  background-color: $bg-color-dark;
  overflow: hidden;

  @media (max-width: 1199px) {
    padding: 8rem 0;
    font-size: 1.5;
    line-height: 1.5;
  }
  @media (max-width: 767px) {
    padding: 6rem 0;
    font-size: 1.5;
    background-image: linear-gradient(to right, $bg-color-dark 45%, rgb(132, 0, 255));
  }
  @media (max-width: 479px) {
    font-size: 1.35rem;
  }
}

.container {
  position: relative;
  max-width: 1200px;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 1199px) {
    width: 70%;
  }
  @media (max-width: 479px) {
    width: 80%;
  }
}

.circleImgContainer {
  position: relative;
}

.circle {
  position: absolute;
  top: -200%;
  left: 43.5%;
  width: 100rem;
  height: 100rem;
  z-index: -1;
  border-radius: 50%;
  box-shadow: 0 0 300px 30px rgb(132, 0, 255);
  background-color: rgb(132, 0, 255);
  
  @media (max-width: 767px) {
    display: none;
  }
}

.textImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
   flex-direction: column;
  }
}

.text {
  margin-right: 5rem;

  @media (max-width: 1199px) {
    margin-right: 2rem;
  }
  @media (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 3rem;
    text-align: center;
  }
}

.photoContainer {
  flex-shrink: 0;
  width: 190px;
  height: 190px;
  border-radius: 20px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 7px  $color-accent;
  overflow: hidden;
  filter: contrast(110%) brightness(80%);
  transition: 500ms transform cubic-bezier(0.4, 0, 0.2, 1);

  @media (max-width: 1199px) {

  }
  @media (max-width: 767px) {
    width: 170px;
    height: 170px;
    box-shadow: 0px 0px 5px  $color-accent;
  }
  @media (max-width: 479px) {
    width: 140px;
    height: 140px;
    box-shadow: 0px 0px 4px  $color-accent;
  }


  &:hover {
    animation: glow 1s infinite;
    filter: contrast(110%) brightness(80%);
  }
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


// TABS

.tabs {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
}

.tabsList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: fit-content;
}

.tab {
  font-size: 1.8rem;
  background-color: transparent;
}

.tabCurrent {
  background-color: $color-accent;
}

.tabContent {
  display: none;
}

.tabContentCurrent {
  display: block;
}