@import '../../vars.scss';

.about {
  position: relative;
  z-index: 5;
  padding: 10rem 0;
  font-size: 1.8rem;
  line-height: 1.7;
  letter-spacing: 0.04em;
  background-color: $bg-color-dark;
  overflow: hidden;

  @media (max-width: 1199px) {
    padding: 8rem 0;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  @media (max-width: 767px) {
    padding: 6rem 0;
  }
  @media (max-width: 479px) {
    font-size: 1.4rem;
  }
}

.container {
  position: relative;
  max-width: 1200px;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 1199px) {
    width: 70%;
  }
  @media (max-width: 479px) {
    width: 80%;
  }
}

.circleImgContainer {
  position: relative;
}

.circle {
  position: absolute;
  top: -200%;
  left: 43.5%;
  width: 100rem;
  height: 100rem;
  z-index: -1;
  border-radius: 50%;
  box-shadow: 0 0 300px 30px rgb(38, 0, 73);
  background-color: rgb(38, 0, 73);

  @media (max-width: 1199px) {
    top: -250%;
    left: 43.5%;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.textImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.text {
  margin-right: 5rem;

  @media (max-width: 1199px) {
    margin-right: 2rem;
  }
  @media (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 3rem;
    text-align: center;
  }
}

.photoContainer {
  flex-shrink: 0;
  width: 190px;
  height: 190px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 7px $color-accent;
  overflow: hidden;
  will-change: transform;
  transition: 500ms transform cubic-bezier(0.4, 0, 0.2, 1);

  @media (max-width: 1199px) {
    width: 160px;
    height: 160px;
    box-shadow: 0 0 5px $color-accent;
  }
  @media (max-width: 479px) {
    width: 140px;
    height: 140px;
    box-shadow: 0 0 4px $color-accent;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

// TABS

.tabs {
  align-self: flex-start;
  margin-top: 1rem;
  @media (max-width: 767px) {
    align-self: unset;
  }
}

.tabsList {
  padding-left: 1.2rem;
  display: flex;
  justify-content: left;
  gap: 4rem;

  @media (max-width: 767px) {
    justify-content: center;
  }
  @media (max-width: 595px) {
    gap: 3rem;
  }
}

.tab {
  padding: 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  background-color: transparent;

  @media (max-width: 1199px) {
    font-size: 1.8rem;
  }
  @media (max-width: 767px) {
    font-size: 1.6rem;
  }

  &::after {
    content: '';
    width: 150%;
    height: 0.3rem;
    margin-top: 0.8rem;
    display: block;
    background-color: $color-accent;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.tabCurrent {
  &::after {
    transform: scale(1);
  }
}

.tabContent {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.99);
  will-change: transform;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tabContentCurrent {
  position: static;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  margin-top: 2rem;
  min-height: 24rem;
  transform: scale(1);

  @media (max-width: 1199px) {
    min-height: 18rem;
  }
  @media (max-width: 1071px) {
    min-height: 23rem;
  }
  @media (max-width: 595px) {
    min-height: 26rem;
  }
}

.toolsList {
  --line-weight: 1px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  overflow-x: auto;

  @media (max-width: 890px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  @media (max-width: 595px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

.toolsItem {
  position: relative;
  min-width: 16rem;
  min-height: 7rem;
  background: linear-gradient(
                  45deg,
                  rgba(19, 18, 42, 1) 0%,
                  rgb(0, 0, 106) 20%,
                  rgb(1, 1, 66) 75%,
                  rgb(8, 55, 62) 100%
  );
  box-shadow: inset 0 0 1px $color-accent;
  border-radius: 0.5rem;
  font-weight: 500;
  will-change: transform;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  @media (max-width: 1199px) {
    min-width: 14rem;
    min-height: 6rem;
  }
  @media (max-width: 890px) {
    min-width: 13rem;
    min-height: 5rem;
  }
  @media (max-width: 340px) {
    min-width: 11rem;
    min-height: 5rem;
    gap: 0.5rem;
    font-size: 1.3rem;
  }
}

.toolsItemInner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  @media (max-width: 340px) {
    gap: 0.5rem;
  }
}

.toolsNextJs {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(122,122,122,1) 60%, rgba(0,0,0,1) 81%);

  @media (max-width: 890px) {
    width: 30px;
    height: 30px;
  }
}

.toolsItem:hover:before,
.toolsItem:hover:after {
  transform: scaleY(1);
  opacity: 1;
  box-shadow: 0 0 15px $color-accent, 0 0 15px $color-accent;
}
.toolsItem:hover .toolsItemInner:before,
.toolsItem:hover .toolsItemInner:after {
  transform: scaleX(1);
  opacity: 1;
  box-shadow: 0 0 15px $color-accent, 0 0 15px $color-accent;
}
.toolsItem:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--line-weight);
  height: 100%;
  background-color: $color-accent;
  transform: scaleY(0);
  transform-origin: bottom left;
  z-index: 1;
  opacity: 0;
  transition: transform 0.6s, opacity 1s;
}
.toolsItem:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: var(--line-weight);
  height: 100%;
  background-color: $color-accent;
  transform: scaleY(0);
  transform-origin: top right;
  z-index: 1;
  opacity: 0;
  transition: transform 0.6s, opacity 1s;
}
.toolsItemInner {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toolsItemInner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--line-weight);
  background-color: $color-accent;
  transform: scaleX(0);
  transform-origin: top left;
  z-index: 1;
  opacity: 0;
  transition: transform 0.6s, opacity 1s;
}
.toolsItemInner:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--line-weight);
  background-color: $color-accent;
  transform: scaleX(0);
  transform-origin: top right;
  z-index: 1;
  opacity: 0;
  transition: transform 0.6s, opacity 1s;
}

.toolsIcon {
  width: 45px;
  height: 45px;

  @media (max-width: 890px) {
    width: 30px;
    height: 30px;
  }
}

.certification {
  padding-right: 15rem;
  font-size: 1.7rem;

  @media (max-width: 1199px) {
    font-size: 1.5rem;
  }
  @media (max-width: 767px) {
    padding-right: 0;
  }
  @media (max-width: 479px) {
    font-size: 1.35rem;
  }

  > a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    width: fit-content;
    margin-bottom: 0.5rem;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.6;
    color: $color-accent;

    &:hover::after {
      transform: scale(1);
    }

    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background-color: $color-accent;
      border-radius: 10px;
      transform: scale(0);
      transform-origin: left;
      transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }

  .itGenerationLink {
    color: $color-main;
    font-size: 1.3em;
    margin-bottom: 1.5rem;

    &::after {
      background-color: $color-main;
    }
  }
}

.goItLogo {
  width: 3.5em;
  margin-top: 0.1rem;
  display: inline;
  background: linear-gradient(to right, #e9e9e9 43%, transparent 58%, #e9e9e9 58%);
  filter: drop-shadow(0 0 0.8px $color-accent);
}

.itGenerationLogo {
  fill: currentColor;
  width: 7.3em;
  height: 1.4em;
  filter: drop-shadow(0 0 0.8px currentColor);
}
