@import '../../vars.scss';

.about {
  padding: 100px 0;
  font-size: 1.8;
  line-height: 1.7;
}

.aboutContainer {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutTitle {
  padding: 0 0 2rem 0;
  cursor: default;
  text-align: center;
  line-height: 2;
  font-size: 4rem;
  font-weight: 500;

  &::after {
    position: relative;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 400px;
    height: 3px;
    border-radius: 50%;
    background-color: $color-accent;
  }
}

.textImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutText {
  margin-right: 5rem;
}

.photoContainer {
  flex-shrink: 0;
  width: 190px;
  height: 190px;
  border-radius: 20px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 7px  $color-accent;
  overflow: hidden;
  filter: contrast(110%) brightness(80%);
  transition: 500ms transform cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    animation: glow 1s infinite;
    filter: contrast(110%) brightness(80%);
  }
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


// TABS

.tabs {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
}

.tabsList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: fit-content;
}

.tab {
  font-size: 1.8rem;
  background-color: transparent;
}

.tabCurrent {
  background-color: $color-accent;
}

.tabContent {
  display: none;
}

.tabContentCurrent {
  display: block;
}