@import "../../vars.scss";

.about {
  position: relative;
  z-index: 5;
  padding: 10rem 0;
  font-size: 1.8rem;
  line-height: 1.7;
  letter-spacing: 0.04em;
  background-color: $bg-color-dark;
  overflow: hidden;

  @media (max-width: 1199px) {
    padding: 8rem 0;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  @media (max-width: 767px) {
    padding: 6rem 0;
  }
  @media (max-width: 479px) {
    font-size: 1.4rem;
  }
}

.container {
  position: relative;
  max-width: 1200px;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 1199px) {
    width: 70%;
  }
  @media (max-width: 479px) {
    width: 80%;
  }
}

.circleImgContainer {
  position: relative;
}

.circle {
  position: absolute;
  top: -200%;
  left: 43.5%;
  width: 100rem;
  height: 100rem;
  z-index: -1;
  border-radius: 50%;
  box-shadow: 0 0 300px 30px rgb(38, 0, 73);
  background-color: rgb(38, 0, 73);

  @media (max-width: 1199px) {
    top: -250%;
    left: 43.5%;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.textImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.text {
  margin-right: 5rem;

  @media (max-width: 1199px) {
    margin-right: 2rem;
  }
  @media (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 3rem;
    text-align: center;
  }
}

.photoContainer {
  flex-shrink: 0;
  width: 190px;
  height: 190px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 7px $color-accent;
  overflow: hidden;
  will-change: transform;
  transition: 500ms transform cubic-bezier(0.4, 0, 0.2, 1);

  @media (max-width: 1199px) {
    width: 160px;
    height: 160px;
    box-shadow: 0 0 5px $color-accent;
  }
  @media (max-width: 479px) {
    width: 140px;
    height: 140px;
    box-shadow: 0 0 4px $color-accent;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

// TABS

.tabs {
  max-width: 100%;
  align-self: flex-start;
  margin-top: 1rem;

  @media (max-width: 767px) {
    align-self: unset;
  }
}

.tabsList {
  padding-left: 1.2rem;
  padding-right: 3rem;
  display: flex;
  justify-content: left;
  gap: 4rem;

  @media (max-width: 767px) {
    justify-content: center;
  }
  @media (max-width: 595px) {
    gap: 3rem;
  }
}

.tab {
  padding: 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  background-color: transparent;

  @media (max-width: 1199px) {
    font-size: 1.8rem;
  }
  @media (max-width: 767px) {
    font-size: 1.6rem;
  }

  &::after {
    content: "";
    width: 120%;
    height: 0.3rem;
    margin-top: 0.8rem;
    display: block;
    background-color: $color-accent;
    border-radius: 50%;
    transform: scale(0) translateX(-50%);
    transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.tabCurrent {
  &::after {
    transform: scale(1);
  }
}

.tabContent {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.99);
  will-change: transform;
  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tabContentCurrent {
  position: static;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  margin-top: 2rem;
  min-height: 24rem;
  transform: scale(1);

  @media (max-width: 1199px) {
    min-height: 18rem;
  }
  @media (max-width: 1071px) {
    min-height: 23rem;
  }
  @media (max-width: 595px) {
    min-height: 26rem;
  }
}

.toolsList {
  --line-weight: 1px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  overflow-x: auto;

  @media (max-width: 890px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  @media (max-width: 595px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

.workExperienceSwiper {
  max-width: 100%;
  font-size: 1.7rem;

  @media (max-width: 1199px) {
    font-size: 1.5rem;
  }
  @media (max-width: 479px) {
    font-size: 1.35rem;
  }

  > a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    width: fit-content;
    margin-bottom: 0.5rem;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.6;
    color: $color-accent;
    background-color: transparent;

    &:hover::after {
      transform: scale(1);
    }

    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background-color: $color-accent;
      border-radius: 10px;
      transform: scale(0);
      transform-origin: left;
      transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }

  .companyItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding-bottom: 6rem;

    @media screen and (max-width: 1200px) {
      gap: 5rem;
    }

    @media screen and (max-width: 880px) {
      flex-direction: column;
      gap: 2rem;
      padding-left: 1.2rem;
    }

    .leftSide {
      align-self: flex-start;
      white-space: nowrap;

      .companyName {
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 700;

        @media screen and (max-width: 1200px) {
          font-size: 1.8rem;
        }
      }

      .logo {
        height: auto;
        width: 200px;
        margin-bottom: 1rem;

        @media screen and (max-width: 1200px) {
          width: 120px;
        }
      }

      .position {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 0.5rem;

        @media screen and (max-width: 1200px) {
          font-size: 1.6rem;
        }
      }

      .date {
        font-size: 1.6rem;

        @media screen and (max-width: 1200px) {
          font-size: 1.4rem;
        }
      }
    }

    .responsibilities {
      list-style: disc;
    }
  }

  :global(.swiper-pagination-bullet) {
    background-color: $color-accent;
  }
}
