@import '../../vars.scss';

.home {
  height: 100vh;
  position: relative;
}

.backgroundAnimated {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.homeContainer {
  margin: 0 auto;
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.homeText {
  font-size: 2rem;
  > span:first-child {
    display: block;
  }
  > span:nth-child(2) {
    display: block;
    font-weight: 700;
    font-size: 7rem;
  }
  > span:nth-child(3) {
    display: block;
    color: rgb(102, 111, 238);
    font-weight: 700;
    font-size: 7rem;
    margin-bottom: 1.5rem;
  }
}

.homeBtn {
  padding: 1.5rem 2rem;
  background-color: transparent;
  border: 1px solid $color-accent;
  font-size: 1.6rem;
  &:hover {
    color: $color-accent;
  }
}




.circleContainer {
  $particleNum: 100;
  $particleColor: hsl(180, 100%, 80%);
  position: absolute;
  transform: translateX(-10vw);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: radial-gradient(
      hsl(180, 100%, 80%),
      hsl(180, 100%, 80%) 10%,
      hsla(180, 100%, 80%, 0) 56%
    );

    animation: fade-in-frames 200ms infinite, scale-frames 2s infinite;

    @keyframes fade-frames {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.7;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes scale-frames {
      0% {
        transform: scale3d(0.4, 0.4, 1);
      }

      50% {
        transform: scale3d(2.2, 2.2, 1);
      }

      100% {
        transform: scale3d(0.4, 0.4, 1);
      }
    }
  }

  $particleBaseSize: 8;

  @for $i from 1 through $particleNum {
    &:nth-child(#{$i}) {
      $circleSize: random($particleBaseSize);
      width: $circleSize + px;
      height: $circleSize + px;

      $startPositionY: random(10) + 100;
      $framesName: "move-frames-" + $i;
      $moveDuration: 28000 + random(9000) + ms;

      animation-name: #{$framesName};
      animation-duration: $moveDuration;
      animation-delay: random(37000) + ms;

      @keyframes #{$framesName} {
        from {
          transform: translate3d(random(100) + vw, $startPositionY + vh, 0);
        }

        to {
          transform: translate3d(random(100) + vw, -$startPositionY - random(30) + vh, 0);
        }
      }

      .circle {
        animation-delay: random(4000) + ms;
      }
    }
  }
}