@import '../../vars.scss';

.home {
  position: relative;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #0e2641 0%, #090A0F 100%);
  background-attachment: fixed;
}

.backgroundAnimated {
  position: fixed;
  z-index: 3;
  @media (max-width: 767px) {
    display: none;
  }
}

.homeContainer {
  position: fixed;
  left: 50%;
  z-index: 1;
  max-width: 1200px;
  height: 100%;
  width: 73%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: translateX(-50%);

  @media (max-width: 767px) {
    width: 95%;
  }
}

.textContainer {
  padding: 6rem 6rem 2rem;
}

.greeting {
  display: block;
  font-size: 1.9rem;
  margin-bottom: 10px;

  @keyframes hello {
    0% {
      transform: translateZ(0) scale(1);
    }
    15% {
      transform: translate3d(-25%,0,0) rotate(-5deg) scale(1.1);
    }
    30% {
      transform: translate3d(20%,0,0) rotate(3deg) scale(1.2);
    }
    45% {
      transform: translate3d(-15%,0,0) rotate(-3deg) scale(1.3);
    }
    60% {
      transform: translate3d(10%,0,0) rotate(2deg) scale(1.2);
    }
    75% {
      transform: translate3d(-5%,0,0) rotate(-1deg) scale(1.1);
    }
  }
  .emojiHi {
    font-size: 2.8rem;
    margin-right: 1rem;
    display: inline-block;
    animation: hello 2s infinite;

    @media (max-width: 1199px) {
      font-size: 2.5rem;
    }
    @media (max-width: 767px) {
      font-size: 2rem;
    }
    @media (max-width: 479px) {
      font-size: 1.9rem;
    }
  }
}

.name {
  margin-top: 0.8rem;
  margin-bottom: 0;
  display: block;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.1;

  @media (max-width: 1199px) {
    font-size: 5rem;
  }
  @media (max-width: 767px) {
    font-size: 3.5rem;
    line-height: 1.3;
    margin-bottom: 0.8rem;
  }
  @media (max-width: 400px) {
    font-size: 2.7rem;
  }
}

.myPosition {
  margin-bottom: 1.5rem;
  display: block;
  color: rgb(102, 111, 238);
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.3;

  @media (max-width: 1199px) {
    font-size: 5rem;
  }
  @media (max-width: 767px) {
    font-size: 3.5rem;
  }
  @media (max-width: 400px) {
    font-size: 2.7rem;
  }
}

.homeText {
  font-size: 1.9rem;
  line-height: 2.2;
  cursor: default;

  @media (max-width: 1199px) {
    padding: 6rem 5rem 2rem 5rem;
    font-size: 1.8rem;
    line-height: 2.1;
  }
  @media (max-width: 767px) {
    padding: 6rem 6rem 2rem;
    font-size: 1.5rem;
    line-height: 2;
  }
  @media (max-width: 400px) {
    font-size: 1.4rem;
    line-height: 1.7;
  }
  @media (max-width: 340px) {
    padding: 6rem 4rem 2rem 4rem;
  }
}

.homeBtn {
  display: block;
  margin: 2rem 0 6rem 6rem;
  padding: 1.7rem 2rem;
  background-color: transparent;
  border: 1px solid $color-accent;
  border-radius: 4px;
  font-size: 1.6rem;

  @media (min-width: 768px) and (max-width: 1199px) {
    margin: 2rem 0 6rem 6rem;
  }
  @media (max-width: 767px) {
    font-size: 1.4rem;
  }
  @media (max-width: 400px) {
    padding: 1.5rem 1.8rem;
  }
  @media (max-width: 340px) {
    margin: 2rem 0 6rem 4rem;
  }

  &:hover {
    color: $color-main;
    animation: glow 1s infinite;
  }
}





.circleContainer {
  $particleNum: 130;
  $particleColor: hsl(180, 100%, 80%);
  position: absolute;
  transform: translateX(-10vw);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: radial-gradient(
      hsl(180, 100%, 80%),
      hsl(180, 100%, 80%) 10%,
      hsla(180, 100%, 80%, 0) 56%
    );

    animation: fade-in-frames 200ms infinite, scale-frames 2s infinite;

    @keyframes fade-frames {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.7;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes scale-frames {
      0% {
        transform: scale3d(0.4, 0.4, 1);
      }

      50% {
        transform: scale3d(2.2, 2.2, 1);
      }

      100% {
        transform: scale3d(0.4, 0.4, 1);
      }
    }
  }

  $particleBaseSize: 8;

  @for $i from 1 through $particleNum {
    &:nth-child(#{$i}) {
      $circleSize: random($particleBaseSize);
      width: $circleSize + px;
      height: $circleSize + px;

      $startPositionY: random(10) + 90;
      $framesName: "move-frames-" + $i;
      $moveDuration: 28000 + random(9000) + ms;

      animation-name: #{$framesName};
      animation-duration: $moveDuration;
      animation-delay: random(37000) + ms;

      @keyframes #{$framesName} {
        from {
          transform: translate3d(random(100) + vw, $startPositionY + vh, 0);
        }

        to {
          transform: translate3d(random(100) + vw, -$startPositionY - random(30) + vh, 0);
        }
      }

      .circle {
        animation-delay: random(4000) + ms;
      }
    }
  }
}