@import '../../vars.scss';

.contact {
  position: relative;
  z-index: 5;
  padding: 10rem 0;
  line-height: 1.7;
  background-color: $bg-color-dark;
  overflow: hidden;

  @media (max-width: 1199px) {
    padding: 8rem 0;
  }
  @media (max-width: 767px) {
    padding: 6rem 0;
  }
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 1199px) {
    width: 60%;
  }
  @media (max-width: 767px) {
    width: 75%;
  }
}

.text {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.8rem;

  @media (max-width: 1199px) {
    font-size: 1.7rem;
  }
  @media (max-width: 767px) {
    font-size: 1.4rem;
  }
}

.link {
  padding: 1.7rem 2rem;
  background-color: transparent;
  border: 1px solid $color-accent;
  border-radius: 4px;
  font-size: 1.6rem;

  @media (max-width: 1199px) {
    padding: 1.4rem 2rem;
    font-size: 1.5rem;
  }
  @media (max-width: 767px) {
    padding: 1.4rem 1.8rem;
  }
  @media (max-width: 479px) {
    padding: 1.2rem 1.7rem;
    font-size: 1.4rem;
  }

  &:hover {
    color: $color-main;
    animation: glow 1s infinite;
  }
}