@import '../../vars.scss';

.contact {
  position: relative;
  z-index: 5;
  padding: 100px 0;
  font-size: 1.8;
  line-height: 1.7;
  background-color: $bg-color-dark;
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.8rem;
}

.link {
  padding: 1.7rem 2rem;
  background-color: transparent;
  border: 1px solid $color-accent;
  border-radius: 4px;
  font-size: 1.6rem;
  &:hover {
    color: $color-main;
    animation: glow 1s infinite;
  }
}