@import '../../vars.scss';

.fixEmail {
  position: fixed;
  bottom: 0;
  right: 5%;
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 2rem;
  writing-mode: vertical-rl;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (max-width: 768px) {
    display: none;
  }
  &:hover {
    transform: scale(1.03);
  }

  &::after {
    content: "";
    height: 130px;
    width: 3px;
    border-radius: 50%;
    background-color: $color-accent;
    transform: translateX(-90%);
  }
}

.fixContacts {
  position: fixed;
  bottom: 0;
  left: 5%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @media (max-width: 767px) {
    position: static;
    gap: 3rem;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    box-shadow: 0 3px 2px -2px gray;
  }

  @media (max-width: 479px) {
    gap: 2.6rem;
  }

  &::after {
    content: "";
    height: 130px;
    width: 3px;
    border-radius: 50%;
    background-color: $color-accent;
    transform: translateX(-50%);

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.socialItem {
  width: 25px;
  transform: translateY(0) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: translateY(-10%) scale(1.15);

    @media (max-width: 767px) {
      transform: none;
    }
  }
}

.socialIcons {
  width: 100%;
  height: 25px;
  fill: currentColor;
}