@import '../../vars.scss';

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 10rem;
  background: radial-gradient(ellipse at bottom, #0e264170 0%, #090A0F70 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
}

.headerContainer {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid $color-accent;
  font-size: 1.8rem;
  font-weight: 700;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.headerNav {
  display: flex;
  margin-right: 4rem;
}

.navList {
  display: flex;
  gap: 4rem;
}

.resumeLink {
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid $color-accent;
}