@import '../../vars.scss';

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 9rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  backdrop-filter: blur(10px);

  @media (max-width: 767px) {
    height: 5.5rem;
  }
}

.headerContainer {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.logo {
  margin-right: auto;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid $color-accent;
  font-family: 'Playfair Display', serif;
  font-size: 2.2rem;
  font-weight: 700;
  box-shadow: 0 0 10px $color-accent;
  color: $color-main;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (max-width: 767px) {
    width: 3rem;
    height: 3rem;
    margin-left: 2.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 0 0 5px $color-accent;
  }
}

.menuContainer {
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.5rem;
    background-color: $bg-color-dark;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 350ms cubic-bezier(0.075, 0.82, 0.165, 1),
      opacity 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.menuContainer.open {
  opacity: 1;
  transform: translateX(0%);
}

.headerNav {
  display: flex;
  margin-right: 4rem;
}

.navList {
  display: flex;

  @media (max-width: 767px) {
    margin-top: 3rem;
    margin-left: 0.5rem;
    flex-direction: column;
    gap: 3rem;
  }
}

.navLink {
  padding: 3rem 2rem;
  font-size: 1.8rem;
  text-shadow: $bg-color-dark 1px 1px;

  @media (max-width: 767px) {
    padding: 1rem 2rem;
    font-size: 3rem;
  }
}

.resumeLink {
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid $color-accent;

  @media (max-width: 767px) {
    margin-left: 2.5rem;
    padding: 1rem 2rem;
    font-size: 2.5rem;
    border: 2px solid $color-accent;
  }

  &:hover {
    color: $color-main;
    animation: glow 1s infinite;
  }
}


// Mobile menu


.mobileMenuBtn {
  display: none;

  @media (max-width: 767px) {
    width: 48px;
    margin-right: 1.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
}


.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: scale(1);
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  
  &.active {
    transform: scale(1.2);
  }
}
.hamRotate.active {
  transform: rotate(45deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: $color-main;
  stroke-width: 4.5;
  stroke-linecap: round;
}
.ham3 .top {
  stroke-dasharray: 40 130;
}
.ham3 .middle {
  stroke-dasharray: 40 140;
}
.ham3 .bottom {
  stroke-dasharray: 40 205;
}
.ham3.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}
.ham3.active .middle {
  stroke-dashoffset: -102px;
}
.ham3.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}