@import '../../vars.scss';

.pageFooter {
  position: relative;
  z-index: 2;
  padding: 6rem 0 3rem 0;
  background-color: $bg-color-secondary;
  text-align: center;

  @media (max-width: 1199px) {
    gap: 5rem;
    padding-top: 5rem;
  }
  @media (max-width: 479px) {
    padding-top: 4rem;
  }
}

.list {
  max-width: 1200px;
  width: 73%;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding-bottom: 6rem;
  box-shadow: 0 3px 2px -2px gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7rem;
  font-size: 2rem;
  letter-spacing: 0.1em;

  @media (max-width: 1199px) {
    gap: 5rem;
    font-size: 1.8rem;
  }
  @media (max-width: 767px) {
    width: 100%;
    gap: 4rem;
    margin-bottom: 4rem;
    padding-bottom: 0;
    font-size: 1.6rem;
    box-shadow: none;
  }
  @media (max-width: 479px) {
    gap: 1.8rem;
    font-size: 1.5rem;
  }
  @media (max-width: 380px) {
    gap: 1.4rem;
    font-size: 1.3rem;
  }
}

.link {
  text-transform: uppercase;
}

.copyright {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  @media (max-width: 767px) {
    font-size: 1.4rem;
  }
  @media (max-width: 479px) {
    font-size: 1.3rem;
  }
  @media (max-width: 380px) {
    font-size: 1.2rem;
  }
}

.social {
  display: none;

  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 3rem;
    padding-bottom: 4rem;
    box-shadow: 0 3px 2px -2px gray;
  }

  @media (max-width: 479px) {
    gap: 2.6rem;
  }

  > li {
    width: 25px;
    transform: translateY(0) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      transform: translateY(-10%) scale(1.15);

      @media (max-width: 767px) {
        transform: none;
      }
    }
  }
}
