@import "./reset.scss";
@import "./vars.scss";

html {
  font-size: 10px;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  background-color: #0e1018;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  color: $color-main;
  letter-spacing: 0.04em;
  font-size: 1.6rem;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0.06em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-overflow {
  overflow: hidden;
  margin-right: 8px;

  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
  
  & .FixContacts_fixEmail__ZxL4J {
    right: calc(5% + 8px);
  }

  & .Header_headerContainer__GTRXA {
    padding-right: 8px;
    width: calc(90% - 8px);
    @media screen and (max-width: 767px) {
      padding: 0;
      width: 100%;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
::-webkit-scrollbar-track {
  background: #080d16;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(61, 59, 82);
  border-radius: 0.4rem;
}




a {
  text-decoration: none;
  color: $color-main;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $color-accent;
  }
}

button {
  border: none;
  font-family: inherit;
  color: $color-main;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}