@import "./vars.scss";

html {
  font-size: 10px;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  color: $color-main;
  background: radial-gradient(ellipse at bottom, #0e2641 0%, #090A0F 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: scroll;

  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: radial-gradient(ellipse at bottom, #0e2641 0%, #090A0F 100%);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(61, 59, 82);
  border-radius: 0.4rem;
}




a {
  text-decoration: none;
  color: $color-main;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $color-accent;
  }
}

button {
  border: none;
  font-family: inherit;
  color: $color-main;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}