$color-main: #e9e9e9;
$color-accent: #666fee;
$bg-color-dark: #090A0F;
$bg-color-secondary: #0e1018;
$input-shadow: $color-accent 0px 0px 6px 0.5px;

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 7px $color-accent;
  }
  50% {
    box-shadow: 0 0 15px $color-accent;
  }
}