$color-main: #e9e9e9;
$color-secondary: #1f1f1f;
$color-accent: #666fee;
$bg-color-dark: #090A0F;
$input-shadow: $color-accent 0px 0px 6px 0.5px;

// Common

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  padding: 0 0 2rem 0;
  cursor: default;
  text-align: center;
  line-height: 2;
  font-size: 4rem;
  font-weight: 500;

  @media (max-width: 1199px) {
    font-size: 3.5rem;
  }
  @media (max-width: 479px) {
    font-size: 3rem;
  }

  &::after {
    position: relative;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 400px;
    height: 3px;
    border-radius: 50%;
    background-color: $color-accent;

    @media (max-width: 1199px) {
      width: 350px;
    }
    @media (max-width: 767px) {
      width: 300px;
    }
    @media (max-width: 479px) {
      width: 250px;
    }
  }
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0px 0px 7px $color-accent;
  }
  50% {
    box-shadow: 0px 0px 15px $color-accent;
  }
}