$color-main: #cacaca;
$color-secondary: #1f1f1f;
$color-accent: #666fee;
$bg-color-dark: #090A0F;

$input-shadow: $color-accent 0px 0px 6px 0.5px;



@mixin input {
  color: rgb(24, 24, 24);
  background-color: $color-main;
  font-family: "Gill Sans", sans-serif;
  border: none;
  outline: none;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    box-shadow: $input-shadow;
    border-color: $color-accent;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  padding: 0 0 2rem 0;
  cursor: default;
  text-align: center;
  line-height: 2;
  font-size: 4rem;
  font-weight: 500;

  &::after {
    position: relative;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 400px;
    height: 3px;
    border-radius: 50%;
    background-color: $color-accent;
  }
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0px 0px 7px $color-accent;
  }
  50% {
    box-shadow: 0px 0px 15px $color-accent;
  }
}