$color-main: #b3b3b3;
$color-secondary: #1f1f1f;
$color-accent: #666fee;
$bg-color-dark: #121a2b;
$bg-color-light: #b8b8b8;

$input-shadow: $color-accent 0px 0px 6px 0.5px;



@mixin input {
  color: rgb(24, 24, 24);
  background-color: $color-main;
  font-family: "Gill Sans", sans-serif;
  border: none;
  outline: none;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    box-shadow: $input-shadow;
    border-color: $color-accent;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
